<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot</title>
</head>
<body>
<h3>Wrong Argument. Please make sure your request matches an existing resource.</h3>
<div>
    <button th:onclick="|window.history.back();|" type="button">Go Back</button>
</div>
<p class="error" th:text="${errorMsg}">Error</p>
</body>
</html>